@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100,300,100italic,400italic,500,700");
/*@import url("https://fonts.googleapis.com/css?family=Bad+Script");*/
/*@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,300");*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600");
@import url("http://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("http://fonts.googleapis.com/css?family=Cinzel:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,100,700,100italic");

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.fade-in.two {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay:0.3s;
	animation-delay: 0.3s;
}

.fade-in.three {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

* {margin: 0; padding: 0;}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}

body {
	color: #fff;
	font-family:'Lato', sans-serif;
	font-size: 20px;
	margin: 0;
	/*text-align: center;*/
}
.col-lg-6 {
	padding: 0;
}

.top-msg {
	padding-top: 7%;
}

#my-name {
	color: #FFF;
	font-family: 'Bad Script', cursive;
	font-size: 25px;
}
.bold {
	font-size: 40px;
	font-family: 'Alegreya Sans SC', sans-serif;
}
span.love {
	color: #ff8e97;
	font-family: 'Alegreya Sans SC', sans-serif;
}
/* Making invisible for waypoints */


/* Screens Settings */
#screen1 {	
	width: 80%;
	margin: 0 10%;
	height: 100vh;
	background-image: url("../img/water-flower-2.png");
	background-repeat: no-repeat;
	background-size: 100%
}
.my-name {
	color: #60584F;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
	font-size: 55px;
	position: relative;
	top: 25%;
	text-align: center;
	line-height: 50px;
	margin-top: 5%;
}
.my-title {
	color: #ff8e97;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	line-height: 55px;
	position: relative;
	top: 30%;
}
span {
	font-family: 'Noto Sans Japanese', serif;
}

#screen2 {

}

.about {
	margin: 20px 0;
	height: 50vh;
}
.three-things p {
	color: #605658;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 50px;
	text-align: center;
}
.fa-heart-o {
	color: #ff8e97;;
}
ul.three-things-ul {
	width: 100%;
}
li.three-things-li {
	width: 150px;
	height: 150px;
	border-radius: 80px;
	background-image: url("../img/circle.png");
	background-repeat: no-repeat;
	background-size: 100%;

	/*background-color: #ff8e97;*/
	color: #FFF;
	font-size: 18px;
	padding-top: 30px;
	text-align: center;
	display: inline-block;
	margin:  30px 50px;
}
.skill-icon {
	font-size: 40px;
	padding-bottom: 10px;
}
.skill-name {
	font-size: 20px;
	color: #FFF;
}
.introduction {
	margin-top: 50px;
}

.mai {
	width: 100%;
	/*margin-top: 30px;*/
	color: #605658;
	font-size: 25px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
	padding: 40px;
	line-height: 40px;
}

.fa-heart {
	color: #ff8e97;;
}

.mai-img {
 	width: 150px;
}

.introduction  {
	margin-top: 50px;
	padding: 20px;
	/*text-align: center;*/
}

#screen3 {
	background-color: #FFF;
	height: 100%;
	/*padding-top: 30px;*/
}

.portfolio {
	margin: 100px 0;
}
figure {
	position: relative;
	overflow: hidden;
	width: 100%;
	font-family: "Lato";
	font-weight: 300;
	font-size: 50px;
}
figure p {
	position: relative;
	top: 50%;
	left: 20px;
}

figcaption.pnk {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(241, 130, 163,.5);
	color: #FFF;
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 1;
}
figcaption.org {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(254, 205, 198,.8);
	color: #FFF;
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 1;
}
figcaption.grn {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(198, 214, 213,.8);
	color: #FFF;
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 1;
}
figcaption.blu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(186, 194, 225,.8);
	color: #FFF;
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 1;
}
figure:hover figcaption {
	opacity: 0;
}
.item-img {
	width: 100%;
	padding: 0;
}

#screen4 {
	height: auto;
	/*height: 85vh;*/
	/*padding-top: 30px;*/
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
 }	

.tech {
	margin: 70px auto;

}
.tech-skill {
	width: 30%;
	margin: 60px 35% 0 35%;
	color: #ff8e97;
	font-size: 40px;
	text-align: center;
	padding: 30px;
	letter-spacing: 3px;
	background-image: url("../img/title-back.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.tech-icons {
	margin-top: 75px;
}
.skill-set {
	width: 75%;
	margin: auto;
	text-align: center;
}
.skill-set-title {
	text-align: center;
	color: #ff8e97;
	font-size: 25px;
	font-weight: 300;
}
.skills {
	color: #60584F;
	font-size: 30px;
	display: inline-block;
	margin: 10px;
	  
}

#screen5 {
	background-color: #fafafa;
}

.contact-info {
	margin-top: 30px auto;
}

.contact {
	width: 30%;
	margin: 60px 35% 0 35%;
	color: #ff8e97;
	font-size: 35px;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
	padding: 30px;
	letter-spacing: 1px;
	background-image: url("../img/title-back.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.contactList {
	text-align: center;
	margin-bottom: 50px;
}

.contactIcons {
	width: 100px;
	height: 100px;
	display: inline;
	margin: 15px;
	text-align: center;
	color: #60584F;

}
.contactIcons .fa {
	color: #60584F;
	font-size: 55px;
	text-align: center;

}

/******************* Media Query **************************/
/********************************/
/*** For iPad miniin Portrait *****/
/*******************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
.my-name {
	font-size: 30px;
	position: relative;
	top: 8%;
}
.my-title {
	font-size: 23px;
	top: 5%;
}
.three-things p {
	font-size: 30px;
}
li.three-things-li {
	width: 125px;
	height: 125px;
	border-radius: 80px;
	background-color: #ff8e97;
	color: #FFF;
	font-size: 15px;
	padding-top: 20px;
	text-align: center;
	display: inline-block;
	margin: 10px 40px;
}
.tech-skill {
	width: 30%;
	margin: 30px 35%;
	padding: 0;
	font-size: 30px;
	font-weight: 400;
}
.contact {
	width: 30%;
	margin: 30px 35%;
	padding: 0;
	font-size: 25px;
	font-weight: 400;
}
#screen5 {
	height: 50vh;
}
}

/********************************/
/*** For iPad in Landscape *****/
/*******************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 

}
/**************************************
/********* For iPhone6 Portrait ********/
/***************************************/
@media only screen and (max-device-width:377px) and (min-device-width: 320px) { 
#screen1 {
	width: 80%;
	margin: 0 10%;
	height: 100vh;
	background-image: url("../img/back-long.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.my-name {
	font-size: 25px;
	position: relative;
	top: 20%;
}
.my-title {
	font-size: 13px;
	top: 15%;
}
#screen2 {
	margin-top: 30px;
}
.about {
	margin: 5px 0;
	height: auto;
}
.three-things p {
	font-size: 20px;
}
ul.three-things-ul {
	width: 100%;
}
li.three-things-li {
	width: 75px;
	height: 75px;
	border-radius: 80px;
	background-color: #ff8e97;
	color: #FFF;
	font-size: 10px;
	padding-top: 11px;
	text-align: center;
	display: inline-block;
	margin:  10px;
}

.introduction {
	margin-top: 20px;
}
p.mai-img {
	/*margin: 20px;*/
	display: none;
}

.mai {
	font-size: 15px;
	font-weight: 300;
	padding: 10px;
}
#screen3 {
	height: 50vh;
}
.portfolio {
	margin: 50px 0;
}
figure {
	font-size: 20px;
}
#screen4 {
	padding-top: 0;
	height: 75vh;
}
.tech {
	margin: 50px auto;
}
.tech-skill {
	width: 50%;
	margin: 30px 25%;
	padding:0;
	font-size: 16px;
	font-weight: 400;
}
.ruby {
	padding-top: 10px;
} 
.about {
	font-size: 30px;
}
.skill-set-title {
	font-size: 12.5px;
}
.skills {
	font-size: 11px;
	/*padding-top: 10px;*/
	margin: 5px;
}
.tech-icons {
	margin-top: 30px;
}
.contact {
	width: 50%;
	margin: 30px 25%;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	background-size: cover;
}
.contactIcons {
	width: 75px;
	height: 75px;
	margin: 15px;
	font-size: 50px;
}
.contactIcons .fa {
	color: #60584F;
	font-size: 30px;
	text-align: center;
}
.top-msg {
	padding-top: 30%;
}
}
/**************************************
/********* For iPhone6Plus Portrait ********/
/***************************************/
@media only screen and (max-device-width:670px) and (min-device-width: 376px)  { 
#screen1 {
	width: 80%;
	margin: 0 10%;
	height: 100vh;
	background-image: url("../img/back-long.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.my-name {
	font-size: 25px;
	position: relative;
	top: 15%;
}
.my-title {
	font-size: 15px;
	top: 10%;
}
#screen2 {
	margin-top: 30px;
}
.about {
	margin: 5px 0;
	height: auto;
}
.three-things p {
	font-size: 20px;
}
ul.three-things-ul {
	width: 100%;
}
li.three-things-li {
	width: 75px;
	height: 75px;
	border-radius: 80px;
	background-color: #ff8e97;
	color: #FFF;
	font-size: 10px;
	padding-top: 11px;
	text-align: center;
	display: inline-block;
	margin:  10px 15px;
}

.introduction {
	margin-top: 20px;
}
p.mai-img {
	/*margin: 20px;*/
	display: none;
}

.mai {
	font-size: 15px;
	font-weight: 300;
	padding: 10px;
}
#screen3 {
	height: 50vh;
}
.portfolio {
	margin: 50px 0;
}
figure {
	font-size: 20px;
}
#screen4 {
	padding-top: 0;
	height: 75vh;
}
.tech {
	margin: 50px auto;
}
.tech-skill {
	width: 40%;
	margin: 30px 30%;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
}
.ruby {
	padding-top: 10px;
} 
.about {
	font-size: 30px;
}
.skill-set-title {
	font-size: 13.5px;
}
.skills {
	font-size: 11px;
	/*padding-top: 10px;*/
	margin: 5px;
}
.tech-icons {
	margin-top: 30px;
}
.contact {
	width: 40%;
	margin: 30px 30%;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
}
.contactIcons {
	width: 75px;
	height: 75px;
	margin: 15px;
	font-size: 50px;
}
.contactIcons .fa {
	color: #60584F;
	font-size: 30px;
	text-align: center;
}
.top-msg {
	padding-top: 30%;
}
}

/***************************************/
/********* For iPhone6 Landscape ********/
/***************************************/

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { 


}

