@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,100,300,100italic,400italic,500,700");
/*@import url("https://fonts.googleapis.com/css?family=Bad+Script");*/
/*@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,300");*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600");
@import url("http://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url("http://fonts.googleapis.com/css?family=Cinzel:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,100,700,100italic");
@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.fade-in.one {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.fade-in.two {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay:0.3s;
	animation-delay: 0.3s;
}

.fade-in.three {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 70px; 
	z-index: 1;
}

body {
	color: #fff;
	font-family:'Lato', sans-serif;
	font-size: 20px;
	margin: 0;
	/*text-align: center;*/
}
.col-lg-6 {
	padding: 0;
}
<<<<<<< HEAD

.top-msg {
	padding-top: 7%;
}
#japanese {
	/*width: 250px;*/
	color: #FFF;
	font-family: 'Noto Sans Japanese', serif;
	font-weight: bold;
	font-size: 40px;
	text-align: right;
	margin-top: 10%;

}

#english {
	width: 150px;
	color: #FFF;
	font-family: 'Cinzel', serif;
	font-weight: bold;
	font-size: 45px; 
	text-align: left;
	letter-spacing: 2px;
	/*margin-top: 2.5%;*/
}
#my-name {
	color: #FFF;
	font-family: 'Bad Script', cursive;
	font-size: 25px;
=======
.bold {
	font-size: 40px;
	font-family: 'Alegreya Sans SC', sans-serif;
}
span.love {
	color: #ff8e97;
	font-family: 'Alegreya Sans SC', sans-serif;
}

/* Screens Settings */
#screen1 {	
	height: 100vh;
	background-image: url("../img/back-img-hello-2.png");
	background-repeat: no-repeat;
	background-size: 100%;
}
.my-name {
	color: #60584F;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
	font-size: 55px;
	position: relative;
	top: 68%;
>>>>>>> gh-pages
	text-align: center;
	line-height: 50px;
	margin-top: 5%;
}
.my-title {
	color: #ff8e97;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	line-height: 55px;
	position: relative;
	top: 70%;
}
span {
	font-family: 'Noto Sans Japanese', serif;
}

#screen2 {

}

.about {
	margin: 20px 0;
	height: 50vh;
}
.three-things p {
	color: #605658;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 50px;
	text-align: center;
}
.fa-heart-o {
	color: #ff8e97;;
}
ul.three-things-ul {
	width: 100%;
}
li.three-things-li {
	width: 150px;
	height: 150px;
	border-radius: 80px;
	background-color: #ff8e97;
	color: #FFF;
	font-size: 18px;
	padding-top: 30px;
	text-align: center;
	display: inline-block;
	margin:  30px 50px;
}
.skill-icon {
	font-size: 40px;
	padding-bottom: 10px;
}
.skill-name {
	font-size: 20px;
	color: #FFF;
}
.introduction {
	margin-top: 50px;
}

.mai {
	width: 100%;
	/*margin-top: 30px;*/
	color: #605658;
	font-size: 25px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
	padding: 40px;
	line-height: 40px;
}

.fa-heart {
	color: #ff8e97;;
}

.mai-img {
 	width: 150px;
}

.introduction  {
	margin-top: 50px;
	padding: 20px;
	/*text-align: center;*/
}

#screen3 {
	background-color: #FFF;
	height: 100vh;
	/*padding-top: 30px;*/
}

.portfolio {
	margin: 100px 0;
}
figure {
	position: relative;
	overflow: hidden;
	width: 100%;
	font-family: "Lato";
	font-weight: 300;
	font-size: 50px;
}

<<<<<<< HEAD
 .item-img {
 	border: 3px solid #f1eae1;
	border-radius: 15px;
	width: 80%;
	margin: auto;
=======
figure p {
	position: relative;
	top: 50%;
	left: 20px;
>>>>>>> gh-pages
}

figcaption.pnk {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(255, 168, 168,.7);
	color: #FFF;
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 1;
}
figcaption.gry {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(214, 214, 214,.8);
	color: #FFF;
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 1;
}
figure:hover figcaption {
	opacity: 0;
}
.item-img {
	width: 100%;
	padding: 0;
}

#screen4 {
	height: 85vh;
	padding-top: 30px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
 }	

.tech {
	margin: 30px 0;

}
.tech-skill {
	color: #ff8e97;
	font-size: 40px;
	text-align: center;
	padding: 30px;
	letter-spacing: 3px;
}
.tech-icons {
	margin-top: 75px;
}
.skill-set {
	width: 75%;
	margin: auto;
	text-align: center;
}
.skill-set-title {
	text-align: center;
	color: #ff8e97;
	font-size: 25px;
	font-weight: 300;
}
.skills {
	color: #60584F;
	font-size: 30px;
	display: inline-block;
	margin: 10px;
	  
}

#screen5 {
<<<<<<< HEAD
	background: rgba(247,235,233,1);
	background: -moz-linear-gradient(top, rgba(247,235,233,1) 0%, rgba(245,233,233,1) 0%, rgba(214,214,227,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,235,233,1)), color-stop(0%, rgba(245,233,233,1)), color-stop(100%, rgba(214,214,227,1)));
	background: -webkit-linear-gradient(top, rgba(247,235,233,1) 0%, rgba(245,233,233,1) 0%, rgba(214,214,227,1) 100%);
	background: -o-linear-gradient(top, rgba(247,235,233,1) 0%, rgba(245,233,233,1) 0%, rgba(214,214,227,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,235,233,1) 0%, rgba(245,233,233,1) 0%, rgba(214,214,227,1) 100%);
	background: linear-gradient(to bottom, rgba(247,235,233,1) 0%, rgba(245,233,233,1) 0%, rgba(214,214,227,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7ebe9', endColorstr='#d6d6e3', GradientType=0 );
=======
	background-color: #fafafa;
>>>>>>> gh-pages
	padding-top: 30px;
}

.contact-info {
	margin-top: 20px auto;
}

.contact {
	color: #ff8e97;
	font-size: 40px;
	text-align: center;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 100;
	padding: 30px;
	letter-spacing: 3px;
}

.contactList {
	text-align: center;
	margin-bottom: 50px;
}

.contactIcons {
	width: 100px;
	height: 100px;
	display: inline;
	margin: 15px;
	text-align: center;
	color: #60584F;

}
.contactIcons .fa {
	color: #60584F;
	font-size: 55px;
	text-align: center;

}

/******************* Media Query **************************/
/********************************/
/*** For iPad in Portrait *****/
/*******************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 

}

/********************************/
/*** For iPad in Landscape *****/
/*******************************/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 

}

/**************************************
/********* For iPhone6 Portrait ********/
/***************************************/
@media only screen and (max-width:650px) { 
.my-name {
	font-size: 25px;
	position: relative;
	top: 40%;
}
.my-title {
	font-size: 15px;
	top: 40%;
}
#screen2 {
	margin-top: 30px;
}
.about {
	margin: 5px 0;
	height: auto;
}
.three-things p {
	font-size: 30px;
}

li.three-things-li {
	width: 75px;
	height: 75px;
	border-radius: 80px;
	background-color: #ff8e97;
	color: #FFF;
	font-size: 10px;
	padding-top: 11px;
	text-align: center;
	display: inline-block;
	margin:  10px;
}

<<<<<<< HEAD
@media only screen and (max-width: 650px) { 
=======
.introduction {
	margin-top: 20px;
}
>>>>>>> gh-pages

.mai {
	font-size: 15px;
	font-weight: 300;
	padding: 10px;
}
#screen3 {
	height: 50vh;
}
.portfolio {
	margin: 50px 0;
}
figure {
	font-size: 20px;
}
#screen4 {
	padding-top: 0;
	height: 75vh;
}
.tech-skill {
	font-size: 16px;
}
.ruby {
	padding-top: 10px;
}
.titles, .about {
	font-size: 50px;
}
.skill-set-title {
	font-size: 13.5px;
}
.skills {
	font-size: 11px;
	/*padding-top: 10px;*/
	margin: 5px;
}
.contact {
	font-size: 16px;
}
.contactIcons {
	width: 75px;
	height: 75px;
	margin: 15px;
	font-size: 50px;
}
.contactIcons .fa {
	color: #60584F;
	font-size: 30px;
	text-align: center;
}

<<<<<<< HEAD
.top-msg {
	padding-top: 30%;
}
=======
}

>>>>>>> gh-pages
/***************************************/
/********* For iPhone6 Landscape ********/
/***************************************/

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { 


}

